@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --color-primary: #159b82;
  --color-secondary: #117762;
  --color-dark: #0a5747;
}

.bg-custom-primary{
  background-color: var(--color-primary);
}
.text-custom-primary{
  color: var(--color-primary);
}
.bg-custom-secondary{
  background-color: var(--color-secondary);
}
.text-custom-secondary{
  color: var(--color-secondary);
}
.bg-custom-dark{
  background-color: var(--color-dark);
}
.text-custom-dark{
  color: var(--color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

section{
  min-height: 93dvh;
}

/*



*/