@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'ForestEscape';
  /* src: url('./asset/forest-escape/Web-TT/Escape.eot'); IE9 Compat Modes */
  src: url('./asset/forest-escape/Web-TT/Forest Escape.woff') format('woff'), /* Modern Browsers */
       url('./asset/forest-escape/Web-TT/Forest Escape.woff2') format('woff2'), /* Modern Browsers */
       url('./asset/forest-escape/Web-TT/Forest Escape.ttf') format('truetype'); /* Safari, Android, iOS */
           font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --color-primary: #159b82;
  --color-secondary: #117762;
  --color-dark: #0a5747;
}

.bg-custom-primary{
  background-color: var(--color-primary);
}
.text-custom-primary{
  color: var(--color-primary);
}
.bg-custom-secondary{
  background-color: var(--color-secondary);
}
.text-custom-secondary{
  color: var(--color-secondary);
}
.bg-custom-dark{
  background-color: var(--color-dark);
}
.text-custom-dark{
  color: var(--color-dark);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*{
  box-sizing: content-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'Montserrat', sans-serif;
  
}

h1,h2,h3,h4,h5,h6{
  font-family: ForestEscape;
}

section{
  min-height: 93dvh;
}

.cls-2 {
  font-family: ForestEscape;
  font-size: 100px;
  font-weight: 600;
}

.openLogoAniamtion{
  position: relative;


}
.openLogoAniamtion::before{
  content: "";
  
  position: absolute;
  top:0px;
  right: 0px;
  height: 100%;
  
  background-color: rgb(var(--background-start-rgb));
  
  width: 100%;
  animation-name: sufnalogoAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.scaleInAnimation{
  opacity: 0.5;
  scale: 1.1;

  animation-name: scaleInAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes sufnalogoAnimation {
  to{
    width: 0%;
  }
}

@keyframes scaleInAnimation {
  to{
    scale: 1;
    opacity: 1;
  }
}


/*



*/
